



       <div class="container">
          <div class="row justify-content-center">
             <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex justify-content-center py-4">
               
                     </div>
                <div class="card mb-3">
                   <div class="card-body">
                      <div class="pt-4 pb-2">
                         <h5 class="card-title text-center pb-0 fs-4">Login </h5>
                       
                      </div>
                      <form class="row g-3" [formGroup]="staffLoginForm" (ngSubmit)="login()" >
                        
                        <div class="col-12">
                            <label for="yourUsername" class="form-label">Your Admin</label>
                            
                            <select class="form-select" aria-label="Default select example" #email (change)="adminEmail(email.value)" >
                               <option *ngFor=" let t of listAdmin" value="{{t.emailId}}"> {{t.name}}</option>
                                           </select>
                             </div>
                         
                         <div class="col-12">
                           <label for="yourUsername" class="form-label">Email Id</label>
                           <div class="input-group has-validation">
                              <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-user"></i></span>
                               <input type="text" placeholder="Email Id" class="form-control" formControlName="staffEmail"  required>
                           </div>
                        </div>
                              

                            
                         <div class="col-12">
                           <label for="yourUsername" class="form-label">Password</label>
                           <div class="input-group has-validation">
                              <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-lock"></i></span>
                               <input type="password" placeholder="Password" class="form-control"  formControlName="password" required>
                           </div>
                        </div>

                       

                        
                         <div class="col-12"> <button class="btn btn-primary w-100" type="submit" 
                            [disabled]="staffLoginForm.invalid" mat-dialog-close="">Login</button></div>
                         <div class="col-12">
                            <p class="small mb-0">Already have an account? <a routerLink="/dashboard/login">Log in</a></p>
                         </div>
                      </form>
                   </div>
                </div>
                
             </div>
          </div>
     